<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.baoshichain.guessgame.dao.Admin" >
  <resultMap id="BaseResultMap" type="org.baoshichain.guessgame.entity.Admin" >
    <result column="loginname" property="loginname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="org.baoshichain.guessgame.entity.Admin" >
    insert into tb_admin (loginname, password, flag
      )
    values (#{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}
      )Dao
  </insert>
  <insert id="insertSelective" parameterType="org.baoshichain.guessgame.entity.Admin" >
    insert into tb_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginname != null" >
        loginname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>